


<%= form_tag("/current_weather", remote: true, id: 'zip_code') do %>
  <%= label_tag(:weather, "zip_code") %>
  <%= text_field_tag(:zip_code) %>
  <%= submit_tag("Submit zip") %>
<% end %>

<div id="current_results"><%= render 'current' %></div>

